h1{ 
    width:33.33%;
    border: 2px solid rgb(231, 147, 147);
}
#one{
    height: 400px;
    width: 400px;
    background-color: aqua;
    /* padding: 40px; */
    margin: 50px;
}
.two{
    height: 100px;
    width: 100px;
    background-color: rgb(228, 117, 117);
  

}
div{
    font-size: 2em;
}